<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>SampleApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
=======
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all",
                                            "data-turbolinks-track" => true %>
>>>>>>> db814c4dc5cef3937e96719fcf53d44bb30d54ef
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> db814c4dc5cef3937e96719fcf53d44bb30d54ef
